@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liter&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    /* Font family variables */
    --font-heading: "Roboto", sans-serif;
    --font-subheading: "Inter", sans-serif;
    --font-body: "Roboto", sans-serif;
    --font-accent: "Liter", sans-serif;

    /* Font size variables */
    --text-h1: 2.25rem; /* 36px */
    --text-h2: 1.875rem; /* 30px */
    --text-h3: 1.5rem; /* 24px */
    --text-h4: 1.25rem; /* 20px */
    --text-h5: 1.125rem; /* 18px */
    --text-base: 1rem; /* 16px */
    --text-sm: 0.875rem; /* 14px */
    --text-xs: 0.75rem; /* 12px */

    /* --muted: oklch(0.97 0 0); */
    --muted-foreground: oklch(0.556 0 0);
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;

    /* Font weight variables */
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
  }
}

body {
  font-family: var(--font-body);
}

/* Utility classes for the fonts */
.font-heading {
  font-family: var(--font-heading);
}

.font-subheading {
  font-family: var(--font-subheading);
}

.font-body {
  font-family: var(--font-body);
}

.font-accent {
  font-family: var(--font-accent);
}

*::-webkit-scrollbar {
  display: none;
}

.noControls::-webkit-inner-spin-button,
.noControls::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
